@use './utils/reset';
@use './components/footer-dark';
@use './components/footer-main';
@use './components/header-img';
@use './components/header-main';
@use './components/hero-characters';
@use './components/hero-episodes';
@use './components/hero-main';
@use './components/main-characters';
@use './components/main-episodes';
@use './components/modal-characters';
@use './components/modal-episodes';
@use './components/modal-main';
@use './components/slider-main';



body {
    font-family: "Montserrat" , sans-serif;
    user-select: none;
}




.container {
    width: 375px;
    margin: 0 auto;
    padding: 20px;
    /* outline: 1px solid crimson; */

    @media screen and (min-width: 769px) {
        width: 769px;
        margin: 0 auto;
    }


    @media screen and (min-width: 1279px) {
        width: 1279px;
        margin: 0 auto;
    }

}