
@import url('./components/footer-dark.scss');
@import url('./components/footer-main.scss');
@import url('./components/header-img.scss');
@import url('./components/header-main.scss');
@import url('./components/hero-characters.scss');
@import url('./components/hero-episodes.scss');
@import url('./components/hero-main.scss');
@import url('./components/main-characters.scss');
@import url('./components/main-episodes.scss');
@import url('./components/modal-characters.scss');
@import url('./components/modal-episodes.scss');
@import url('./components/modal-main.scss');
@import url('./utils/reset.scss');


