<section class="characters-main">
    <div class="container characters-main-flex">
        <div class="characters-responsive">
            <div class="responsive-holder">
        <div class="filter-item">
            <label>Name</label>
            <div class="input-wrap">
            <input type="text" placeholder="Enter name" />
            </div>
        </div>
        <div class="input-wrapper">
        <div class="filter-item">
            <label>Status</label>
            <select>
            <option>Alive</option>
            <option>Dead</option>
            <option>Unknown</option>
            </select>
        </div>

        <div class="filter-item">
            <label>Species</label>
            <select>
            <option>Human</option>
            <option>Alien</option>
            <option>Other</option>
            </select>
        </div>
        </div>

        <div class="filter-item">
            <label>Type</label>
            <select>
            <option>Parasite</option>
            <option>Humanoid</option>
            <option>None</option>
            </select>
        </div>

        <div class="filter-item">
            <label>Gender</label>
            <select>
            <option>All</option>
            <option>Female</option>
            <option>Male</option>
            <option>Genderless</option>
            <option>Unknown</option>
            </select>
        </div>
        </div>
        
    </div>
    <button class="load-more">Load more</button>
    </div>
</section>