    <footer class="footer-dark">
        <div class="container footer-dark-flex">
            
            <div class="footer-all-holder">
            <div class="footer-logo-holder">
        <img class="logo-footer footer-dark-logo" src="./img/simple-footer-logo-dark.png" alt="logo">
        <img class="logo-footer-tablet footer-dark-logo" src="./img/simple-footer-logo-dark-tablet.png" alt="logo">
        <img class="morty-rick-footer" src="./img/rick-and-morty-footer.png" alt="#" class="rick-morty-footer">
        </div>
        <div class="footer-media-holder">
        <ul class="footer-dark-list">
            <li class="footer-dark-link"><a href="./characters.html" class="footer-dark-pages">Characters</a></li>
            <li class="footer-dark-link"><a href="./episodes.html" class="footer-dark-pages">Episodes</a></li>
        </ul>
        <ul class="footer-dark-medias">
            <li class="media-item-dark"><img src="./img/facebook.svg" alt="Facebook" class="media-icon"></li>
            <li class="media-item-dark"><img src="./img/twitter.svg" alt="Twitter" class="media-icon"></li>
            <li class="media-item-dark"><img src="./img/instagram.svg" alt="Instagram" class="media-icon"></li>
        </ul>
        </div>
        </div>
        <p class="footer-dark-text">Privacy Policy Public Offering Agreement</p>
        </div>
    </footer>