<footer class="footer-main">
        <div class="container footer-main-flex">
            <div class="footer-all-holder">
            <div class="footer-logo-holder">
        <img class="logo-footer footer-main-logo" src="./img/simple-footer-logo.png" alt="logo">
        <img class="logo-footer-tablet footer-main-logo" src="./img/simple-footer-logo-tablet.png" alt="logo">
        <img class="morty-rick-footer" src="./img/rick-and-morty-footer.png" alt="#" class="rick-morty-footer">
        </div>
        <div class="footer-media-holder">
        <ul class="footer-main-list">
            <li class="footer-main-link"><a href="#" class="footer-main-pages">Characters</a></li>
            <li class="footer-main-link"><a href="#" class="footer-main-pages">Episodes</a></li>
        </ul>
        <ul class="footer-main-medias">
            <li class="media-item"><img src="./img/facebook.svg" alt="Facebook" class="media-icon"></li>
            <li class="media-item"><img src="./img/twitter.svg" alt="Twitter" class="media-icon"></li>
            <li class="media-item"><img src="./img/instagram.svg" alt="Instagram" class="media-icon"></li>
        </ul>
        </div>
        </div>
        <p class="footer-main-text">Privacy Policy Public Offering Agreement</p>
        </div>
    </footer>