<section class="hero-characters characters-flex">
  <div class="container hero-characters-left">
    <div class="characters-title-wrapper">
      <h1 class="characters-title">Characters</h1>
      <p class="characters-description">
        Our character bios provide detailed information on every member of the
        Smith family and beyond. Get to know these unforgettable characters on a
        whole new level – start exploring now!
      </p>
      <a href="./index.html" class="btn-back">Back home</a>
    </div>
    <img
      src="./img/rick-sanchez-characters.png"
      alt="Character Image"
      class="rick-img"
    />
  </div>
</section>
