<section class="hero-main">
            <div class="container hero-main-container">
                <div class="hero-image-holder">
            <img class="ship-main" src="./img/flying-ship-mobile.png" alt="Rick and Motry ship">
            <img class="main-logo" src="./img/Rick-and-Morty-logo.png" alt="Rick and Morty">
            </div>
        <h1 class="hero-title">If you're a fan of Rick and Morty, you don't want to miss out on our app! Start exploring the endless possibilities of Rick and Morty!</h1>
        </div>
        <div class="slider-amimated"></div>
    </section>
    