<section class="hero-episodes">
    <div class="container">
    <h1 class="hero-episodes-title">Episodes</h1>
    <p class="hero-episodes-text">With a comprehensive guide to every episode, you can relive your favorite moments and discover new ones. From the bizarre and hilarious to the emotional and thought-provoking, our episode guide covers it all.</p>
    <a href="./index.html" class="hero-episodes-link">Back home</a>
    <img src="./img/episodes-hero-img.png" alt="#" class="episodes-img">
        </div>
        
</section>