<section class="characters">
        <div class="container characters-flex">
        <h2 class="characters-title"><span>Main</span> characters</h2>
        <div class="characters-holder">
        <img class="character-selected-image" src="./img/Rick-Sanchez.png" alt="selected-character">
        <ul class="characters-list-main">
            <li class="list-main-element">
                <h2 class="rick">Rick Sanchez</h2>
                <p class="rick-text">Rick Sanchez is a brilliant but deeply troubled scientist and one of the main characters in the animated TV show Rick and Morty.</p>
            </li>
            <li class="list-main-element">
                <h2 class="morty">Morty Smith</h2>
                <p class="morty-text">Morty Smith is the other main character in the animated TV show Rick and Morty, and Rick's grandson.</p>
            </li>
            <li class="list-main-element">
                <h2 class="summer">Summer Smith</h2>
                <p class="summer-text">Summer Smith is Morty's older sister and one of the main characters in Rick and Morty. Initially portrayed as a typical teenager, she develops into a more complex and independent character, who is intelligent, resourceful, and fiercely loyal to her family.</p>
            </li>
            <li class="list-main-element">
                <h2 class="beth">Beth Smith</h2>
                <p class="beth-text">Beth is a horse surgeon, and, as Rick's daughter, she is intelligent if sometimes cold. She is voiced by Sarah Chalke.</p>
            </li>
            <li class="list-main-element">
                <h2 class="jerry">Jerry Smith</h2>
                <p class="jerry-text">Jerry is the husband of Beth Smith, the father of Summer Smith and Morty Smith, and the son-in-law of Rick Sanchez.</p>
            </li>
        </ul>
        </div>
        </div>
    </section>