<section class="episodes-main">
    <div class="container">
        
        
        <label class="episodes-name-label" for="#">Name</label><br>
        <input class="episodes-name-input" placeholder="Enter name" type="text" name="name" id="episodesNameInput">
        
        <label class="episodes-name-label" for="#">Episode code</label><br>
        <div class="dropdown-holder">
        <a href="#dropdownLink"><div id="seasonSelector" class="episode-season-searcher">All season</div></a>
    <div id="dropdownLink" class="season-selector-holder">
            <div id="first-episode" class="episode-season-option">All season</div>
            <div class="episode-season-option">1 season</div>
            <div class="episode-season-option">2 season</div>
        </div>
        </div>
        <ul id="episodesList" class="episodes-holder">
            
            <li class="episode-card">
                <div id="episode1" class="episode">
                <h3 class="episode-title">Pilot</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">December 2, 2013</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode2" class="episode">
                <h3 class="episode-title">Lawnmower Dog</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">December 9, 2013</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode3" class="episode">
                <h3 class="episode-title">Anatomy Park</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">December 16, 2013</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode4" class="episode">
                <h3 class="episode-title">M. Night Shaym-Aliens</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">January 13, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode5" class="episode">
                <h3 class="episode-title">Meeseeks and Destroy</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">January 20, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode6" class="episode">
                <h3 class="episode-title">Rick Potion #9</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">January 27, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode8" class="episode">
                <h3 class="episode-title">Raising Gazorpazorp</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">March 10, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode9" class="episode">
                <h3 class="episode-title">Rixty Minutes</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">March 17, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode10" class="episode">
                <h3 class="episode-title">Something Ricked This Way Comes</h3>
                <div class="episode-describtion-holder episodes-margin-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">March 24, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode10" class="episode">
                <h3 class="episode-title">Close Rick-Counters of the Rick Kind</h3>
                <div class="episode-describtion-holder episodes-margin-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">1</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">April 7, 2014</p>
                    </div>
                </div>
            </div>
            </li>
            
            
            
            
            
            
            
            
            <div class="season-two-holder">
            
            
            <li class="episode-card">
                <div id="episode11" class="episode season-two">
                <h3 class="episode-title">A Rickle in Time</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">July 26, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode12" class="episode season-two">
                <h3 class="episode-title">Mortynight Run</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">August 2, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode13" class="episode season-two">
                <h3 class="episode-title">Auto Erotic Assimilation</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">August 9, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode14" class="episode season-two">
                <h3 class="episode-title">Total Rickall</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">August 16, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode15" class="episode season-two">
                <h3 class="episode-title">Get Schwifty</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">August 23, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode16" class="episode season-two">
                <h3 class="episode-title">The Ricks Must Be Crazy</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">August 30, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode17" class="episode season-two">
                <h3 class="episode-title">Big Trouble in Little Sanchez</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">September 13, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode18" class="episode season-two">
                <h3 class="episode-title">Interdimensional Cable 2:...</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">September 20, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="episode-card">
                <div id="episode19" class="episode season-two">
                <h3 class="episode-title">Look Who's Purging Now</h3>
                <div class="episode-describtion-holder">
                    <div class="episode-season-holder">
                        <p class="episode-card-title">Season</p>
                        <p class="episode-card-describtion episode-season">2</p>
                    </div>
                    <div class="episode-air-date-holder">
                        <p class="episode-card-title">Air date</p>
                        <p class="episode-card-describtion episode-airdate">September 27, 2015</p>
                    </div>
                </div>
            </div>
            </li>
            
            
            </div>
        </ul>
        <div class="episodes-image-holder">
        <img src="../img/try-looking-for-something-else.png" alt="Oops! Try looking for something else...">
        <p class="episodes-img-text">Oops! Try looking for something else...</p>
        </div>
        <button type="button" class="episodes-load-more">Load more</button>
    </div>
</section>