<div class="slider-animated">
            <div class="slider-track">
                <ul class="slide-block">
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                </ul>
                <ul class="slide-block">
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                    <li><img class="sliding-tags" src="./img/sliding-tags.svg" alt="#"></li>
                </ul>
            </div>
        </div>