<section class="slider-main">
        <div class="container slider-main-flex">
        <h2 class="slider-title">Ready to <span>explore</span> the crazy world of Rick and Morty?</h2>
<div class="slider-holder">
        <ul class="slider-episodes">
                <li><img class="image-slider image" src="./img/slider-img-1-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-2-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-3-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-4-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-5-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-1-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-2-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-3-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-4-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-1-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-2-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-3-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-4-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-5-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-1-desktop.png" alt="#"></li>
                <li><img class="image-slider image" src="./img/slider-img-2-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-3-desktop.png" alt="#"></li>
                <li><img class="image" src="./img/slider-img-4-desktop.png" alt="#"></li>
                
                
        </ul>
        
        </div>
        <a href="./episodes.html" class="slider-episodes-btn">Episodes</a>
        </div>
</section>