<section class="slider-main">
        <div class="container slider-main-flex">
        <h2 class="slider-title">Ready to <span>explore</span> the crazy world of Rick and Morty?</h2>

        <div class="slider-episodes">
                <div><img class="image-slider image1" src="./img/slider-img-1.png" alt=""></div>
                <div><img class="image-slider image2" src="./img/slider-img-2.png" alt=""></div>
                <div><img class="image3" src="./img/slider-img-3.png" alt=""></div>
                <div><img class="image4" src="./img/slider-img-4.png" alt=""></div>
                <div><img class="image5" src="./img/slider-img-5.png" alt=""></div>
                <div><img class="image6" src="./img/slider-img-4-desktop.png" alt=""></div>
                
        </div>
        <button class="slider-episodes-btn" type="button">Episodes</button>
        </div>
    </section>