.header-img {
  background-color: rgba(13, 23, 29, 1);
}

.header-img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  @media screen and (min-width: 769px) {
    gap: 387px;
  }

  @media screen and (min-width: 1279px) {
    gap: 867px;
  }
}

.header-search:hover {
  box-shadow: 0px 0px 27px -8px rgba(161, 215, 55, 1);
  cursor: pointer;
}

.header-episodes-logo {
  @media screen and (min-width: 1279px) {
    transform: scale(1.5);
  }
}
