.header-characters {
    width: 107px;
    height: 36px;
    background-color: rgb(161, 215, 55);
    border-radius: 1000px;
    border: none;
    color: rgba(13, 23, 29, 1);

    @media screen and (min-width: 769px) {
        padding: 12px 24px 24px 24px;
    }

}

.header-episodes {
    width: 107px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1000px;
    border: 1px solid rgba(250, 250, 250, 0.3);
    color: rgb(255, 255, 255);
    margin-left: 5px;

    @media screen and (min-width: 769px) {
        margin-right: 340px;
        padding: 12px 24px 24px 24px;
    }


    @media screen and (min-width: 1279px) {
        margin-right: 820px;
    }

}

.header-episodes:hover {
    border-color :rgb(250, 250, 250);
}

.header-characters:hover {
    border: 1px solid rgb(250, 250, 250);
}

.header-search {
    width: 103px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1000px;
    border: 1px solid rgba(250, 250, 250, 0.3);
    color: rgb(255, 255, 255);
    background-image: url("../img/search.svg");
    background-position: 10px , 18px ;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 28px;
    padding-left: 11px;
    
}

.header-search::placeholder {
    padding-left: 32px;
    color: rgb(255, 255, 255);
}



.header-main {
    padding-top: 20px;
    background-color: rgba(13, 23, 29, 1);


    



}


.header-main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

