
.hero-main {
    background-image: url("../img/shadow-circle-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(13, 23, 29, 1);
    border-radius: 0px 0px 50px 50px;


    

}



.hero-main-container {
    @media screen and (min-width: 1279px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        height: 803px;
        
    }
}

.shadow-main {
    width: 335px;
    height: 324px;

    @media screen and (min-width: 769px) {
        transform: scale(1.6);
    }

}


.ship-main {
    width: 335px;
    height: 259px;
    z-index: 1;

    @media screen and (min-width: 769px) {
        margin: 0 auto;
        width: 532px;
        height: 411px;
    }


}




.main-logo {
    width: 321.6px;
    height: 121.74px;
    margin: 0 auto;
    z-index: 2;

    @media screen and (min-width: 769px) {
        transform: scale(1.6);
    }


    @media screen and (min-width: 1279px) {
        margin-bottom: 112px;
    }


}

.hero-title {
    width: 290px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(250, 250, 250, 1);
    margin: 0 auto;
    margin-bottom: 148px;



    @media screen and (min-width: 769px) {
        width: 420px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 56px;
    }


    



    @media screen and (min-width: 1279px) {
        width: 311px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        margin: 0;
        margin-bottom: 336px;
        margin-left: 50px;
    }


}

.hero-image-holder {
    @media screen and (min-width: 1279px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
}
