.episodes-name-input {
    width: 335px;
    height: 46px;
    padding: 14px 24px 14px 24px;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;
    background-image: url("../img/search-black.svg");
    background-position: 300px , 18px ;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: rgba(218, 248, 54, 1);
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;


    @media screen and (min-width: 769px) {
        margin-top: -10px;
        width: 233px;
        background-image: url("../img/search-black.svg");
        background-position: 190px , 0px ;
        background-repeat: no-repeat;
        background-size: 16px;
        margin-bottom: 0;
        
    }

}

.episodes-name-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    
}


.episodes-name-input::placeholder {
    color: rgba(17, 17, 17, 1);
}


.episode-season-searcher {
    width: 335px;
    height: 48px;
    background-image: url(../img/arrow.svg);
    background-position: 300px , 18px ;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #fff;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;
    padding: 14px 24px 14px 24px;
    margin-top: 8px;
    margin-bottom: 40px;

    @media screen and (min-width: 769px) {
        width: 190px;
        background-position: 150px , 0px ;
        background-repeat: no-repeat;
        background-size: 16px;
        margin-bottom: 0;
        
    }

}


.name-input-holder {
    @media screen and (min-width: 769px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        
    }
}


.episode-season-searcher img {
    margin-left: 187px;
}

.season-selector-holder {
    position: absolute;
    top: 48px;
    background-color: #fff;
    width: 335px;
    display: none;
    height: 0px;
    border: 1.5px solid rgba(17, 17, 17, 0.336);
    padding: 16px 24px 16px 24px ;
    border-radius: 16px;
    overflow-y: scroll;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.15);
    scrollbar-color: rgba(87, 87, 87, 1);
    scrollbar-width: 6px;
    scroll-margin-top: 200px;

}

.episode-season-option {
    padding: 10px;

}

.season-selector-holder-active {
    display: block;
    height: 150px;

    @media screen and (min-width: 769px) {
        width: 100%;
    }

}

.dropdown-holder {
    position: relative;
}

.episode {
    width: 336px;
    margin: 0 auto;
    height: 250px;
    border-radius: 18px;
    background-image: url(../img/episodes-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(13, 23, 29, 1);
    border: 3px solid rgba(218, 248, 54, 1);
    margin-top: 20px;
    padding: 20px;
}


#episode11 , #episode12 , #episode13 , #episode14 , #episode15 , #episode16 , #episode17 , #episode18 , #episode19 , #episode20 {
    background-image: url(../img/episodes-bg-season-two.png);
    
}

.episode-title {
    color: rgba(161, 215, 55, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    width: 244px;
}


.episodes-filters {
    @media screen and (min-width: 769px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }
}



.episode-describtion-holder {
    display: flex;
    justify-content: flex-start;
    margin-top: 158px;
    gap: 17px;
}


.episodes-margin-holder {
    margin-top: 144px;
}

.episode-card-title {
    color: rgba(250, 250, 250, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    
}

.episode-card-describtion {
    color: rgba(250, 250, 250, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}


.episodes-load-more {
    width: 107px;
    height: 36px;
    padding: 10px 20px 10px 20px;
    border-radius: 1000px;
    background-color: rgba(161, 215, 55, 1);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 41px;
    margin-left: 50%;
    transform: translate(-50%);
}


.episode-season-option-active {
    color: rgba(161, 215, 55, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    
}


.arrow-episodes {
    display: none;
}


.episodes-holder {
    @media screen and (min-width: 769px) {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.episodes-holder {
    @media screen and (min-width: 1279px) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 16px;
        justify-content: center;
    }
}



.episodes-image-holder {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 769px) {
        width: 388px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

}


.episodes-img-text {
    margin-left: 24px;

    @media screen and (min-width: 769px) {
        margin-left: 50px;
    }
}


.input-episodes-holder {
    @media screen and (min-width: 769px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        
        
    }
}

