.characters-title {
    margin-top: 83.72px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;


    @media screen and (min-width: 769px) {
        font-size: 44px;
        font-weight: 600;
        line-height: 44px;
    }



    @media screen and (min-width: 1279px) {
        width: 374px;
        font-size: 44px;
        font-weight: 600;
        line-height: 44px;
    }


}


.characters-title>span {
    background-color: rgba(13, 23, 29, 1);
    border-radius: 44px;
    color: rgba(250, 250, 250, 1);
    padding: 5px;
    width: 100px;
    text-align: center;
    margin-right: 5px;

    @media screen and (min-width: 769px) {
        width: 145px;
        height: 56px;
        padding: 17px;
        display: flex;
        align-items: center;
    }
}

.character-selected-image {
    margin-top: 40px;

    @media screen and (min-width: 1279px) {
        width: 504px;
    }


    @media screen and (min-width: 1279px) {
        display: none;
    }

}


.rick , .morty , .summer , .beth , .jerry {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 14px;
    margin-top: 32px;

    @media screen and (min-width: 769px) {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }

}

.rick-text , .morty-text , .summer-text , .beth-text , .jerry-text {
    width: 319px;
    color: rgba(17, 17, 17, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);

    @media screen and (min-width: 769px) {
        width: 704px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        
    }
    

}





.characters-holder {
    @media screen and (min-width: 1279px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
